.cubes {
  max-width: 60rem;
  width: 90%;
  margin: 0.5rem auto;
  animation: cubes-appear 1s ease-out forwards;
}

.cubes ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 688px) {
  .cubes ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@keyframes cubes-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}