.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  margin: 85px auto 0;
  width: 97%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 14px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.main-image h1 {
  color: white;
  margin: 0;
  font-size: 40px;
  padding-left: 30px;
}

.word {
  color: greenyellow;
}

.main-image p {
  padding-left: 30px;
  color: white;
  font-size: 30px;
}

.main-image button {
  max-width: max-content;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d208f;
  color: white;
  padding: 0.55rem 2rem;
  margin-left: 2rem;
  border-radius: 25px;
  font-weight: bold;
}

.main-image button:hover,
.main-image button:active {
  background-color: black;
}