.cube {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1rem 1rem;
  border: 1px solid #ccc;
}

.cube h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

@media (max-width: 688px) {
  .cube {
    width: 100%;
  }
}